

*{
    margin: 0;
    padding: 0;
}

.container .navbar{
    width: 100%;
    height: 80px;
    background-color: #fff;
    line-height: 80px;
}

.navbar ul{
    margin-left:50px;
    display: inline-block;
    
}


.navbar ul li a{
    font-size: 13px;
    font-family: 'Times New Roman', Times, serif;
    display: inline-block;
    text-decoration:none;
    color: black;
}

.navbar .logo{
    display: inline-block;
    margin-left: 50px;
    margin-top: 20px;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
}

.container .navbar .icon{
    float: right;
    font-size: 13px;
    font-family: 'Times New Roman', Times, serif;
    display:block;
    margin-right: 200px;
    margin-top: 20px;

}

.container .navbar .icon a{
    text-decoration:none;
    color: black;
}


